.title{
    font-size: 50px;
    color: gold;
    
}
.linkfonttype{
    font-family: Berlin Sans FB Demi;
}
.fontsizebig{
    font-size: 30px;
    padding: 1px;
}

.fa-music{
    color: #FF8800;
}

.size{
    
    height: 400px;
    width: 900px;
        

}

.bg-image {
 
  height: 50%;
  width: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content_img:hover{
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7;
}

.content_img p{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



