.title{
    font-size: 50px;
    color: gold;
    
}
.linkfonttype{
    font-family: Berlin Sans FB Demi;
}
.fontsizebig{
    font-size: 30px;
    padding: 1px;
}

.fa-music{
    color: #FF8800;
}

.size{
    
    height: 400px;
    width: 900px;
        

}

.bg-image {
 
  height: 50%;
  width: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}









